[user]
	# Replace with your actual name and email
	name = Your Name
	email = your@email.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	autocrlf = true
	ignorecase = false
[pull]
	rebase = false
